#crm-container .gift-aid {
  padding: 20px;
}

#crm-container .gift-aid h2 {
  margin: 1rem 0;
  padding: 0;
}

#crm-container .gift-aid h2:first-child,
#crm-container .gift-aid h3:first-child {
  margin-top: 0;
}

#crm-container .gift-aid h3 {
  margin: 1rem 0;
  padding: 0;
}

#crm-container .gift-aid ol {
  padding-left: 20px;
}

#crm-container .gift-aid ol li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#crm-container .gift-aid .select2-container .select2-choices {
  border-radius: 3px;
}

#crm-container .gift-aid .crm-section .label {
  margin-right: 1.25rem;
}

#crm-container .gift-aid .crm-section .content .help-text {
  color: #777;
  margin-left: 0.5rem;
  font-size: 0.95em;
}

#crm-container .gift-aid .crm-accordion-wrapper {
  margin: 1rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#crm-container .gift-aid .crm-accordion-body {
  background-color: #f6f6f6;
  padding: 0;
  border-color: #ddd;
}

#crm-container .gift-aid .crm-accordion-body p {
  padding: 10px;
  margin: 0;
}

#crm-container .gift-aid .crm-accordion-body > table {
  margin: 0;
}

#crm-container .gift-aid .crm-accordion-body > table > thead th {
  padding: 10px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #e3e3e3;
}

#crm-container .gift-aid .contribution {
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 0 0 3px 0;
  cursor: pointer;
  background-color: #fff;
}

#crm-container .gift-aid .contribution.collapsed {
  background-color: #f1f1f1;
  background-color: transparent;
  border-width: 0 0 1px 0;
}

#crm-container .gift-aid .contribution:hover {
  background-color: #f5f5f5;
  background-color: white;
}

#crm-container .gift-aid .contribution > td {
  border-color: #ddd;
  border-style: solid;
  border-width: 0 0 0 1px;
  background-color: transparent;
  padding: 10px;
}

#crm-container .gift-aid .contribution > td:first-child {
  border-width: 0;
}

#crm-container .gift-aid .contribution > td:first-child::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
  background: url("/sites/all/modules/civicrm/i/icons/jquery-ui-3E3E3E.png") no-repeat -68px -20px;
}

#crm-container .gift-aid .contribution.collapsed > td:first-child::before {
  background-position: -37px -20px;
}

#crm-container .gift-aid .contribution a:hover {
  text-decoration: underline;
}

#crm-container .gift-aid .line-items-container > td {
  padding: 0;
  border: none;
}

#crm-container .gift-aid .line-items {
  width: 98%;
  padding: 0;
  margin: 0 auto 1%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

#crm-container .gift-aid .line-items tr {
  background-color: #eee;
  border-bottom: 1px dotted #d8d8d8;
}

#crm-container .gift-aid .line-items tr.odd {
  background-color: white;
}

#crm-container .gift-aid .line-items th {
  padding: 5px 10px;
  font-size: 0.7rem;
}

#crm-container .gift-aid .line-items td {
  padding: 5px 10px;
  font-size: 0.75rem;
  border: 1px solid #ddd;
  border: none;
  background: transparent;
  color: #707070;
}
